$imgAPI-fashion0: 'https://placehold.co/964x723/1071ef/FFFFFF';
$imgAPI-fashion1: 'https://placehold.co/1280x825/99d8ff/FFFFFF';
$imgAPI-fashion2: 'https://placehold.co/490x327/ffc999/FFFFFF';
$imgAPI-fashion3: 'https://placehold.co/490x327/ffc999/FFFFFF';
$imgAPI-fashion4: 'https://placehold.co/490x327/ffc999/FFFFFF';
$imgAPI-fashion5: 'https://placehold.co/331x690/fdcc0c/FFFFFF';
$imgAPI-fashion6: 'https://placehold.co/521x309/4a0cfd/FFFFFF';
$imgAPI-fashion7: 'https://placehold.co/521x309/ffe55b/FFFFFF';
$imgAPI-fashion8: 'https://placehold.co/713x309/79c0ff/FFFFFF';
$imgAPI-fashion9: 'https://placehold.co/711x693/52596b/FFFFFF';
