.root {
  position: relative
}

.block {
  margin-top: $spacing5;
  @include breakpoints-up(md) {
    margin-top: $spacing20
  }
}

.paper {
  padding: spacing(3, 5);
  margin-bottom: $spacing4;
  @include breakpoints-down(xs) {
    padding: spacing(3, 2)
  }
}

.icon {
  color: $palette-primary-main;
  @include margin-right($spacing1);
  position: relative
}

.map {
  background: #dedede;
  overflow: hidden;
  width: 100%;
  height: 650px;
  @include breakpoints-up(md) {
    margin-top: $spacing10
  }
  @include breakpoints-down(sm) {
    margin-top: $spacing6 * -1
  }
}
