$imgAPI-agency0: 'https://placehold.co/964x723/1071ef/FFFFFF';
$imgAPI-agency1: 'https://placehold.co/1280x825/99d8ff/FFFFFF';
$imgAPI-agency2: 'https://placehold.co/490x327/ffc999/FFFFFF';
$imgAPI-agency3: 'https://placehold.co/490x327/ffc999/FFFFFF';
$imgAPI-agency4: 'https://placehold.co/490x327/ffc999/FFFFFF';
$imgAPI-agency5: 'https://placehold.co/331x690/fdcc0c/FFFFFF';
$imgAPI-agency6: 'https://placehold.co/521x309/4a0cfd/FFFFFF';
$imgAPI-agency7: 'https://placehold.co/521x309/ffe55b/FFFFFF';
$imgAPI-agency8: 'https://placehold.co/713x309/79c0ff/FFFFFF';
$imgAPI-agency9: 'https://placehold.co/711x693/52596b/FFFFFF';
