.form-wrap {
  padding-top: $spacing10;
  position: relative;
  text-align: center;
  h3 {
    font-weight: $font-bold;
    .v-theme--dark & {
      color: $palette-primary-light
    }
    .v-theme--light & {
      color: $palette-primary-dark
    }
    @include breakpoints-down(md) {
      font-size: 36px
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: $spacing5;
  &.logo-header {
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
  }
  img {
    width: 64px
  }
  p, span {
    display: block;
    font-size: 24px;
    padding-bottom: 4px;
    font-weight: $font-bold;
  }
}

.desc {
  @include breakpoints-up(md) {
    font-size: 20px;
    padding: spacing(0, 10);
  }
}

.input {
  width: 100%
}

.form {
  @include text-align(left);
  position: relative;
  margin-top: $spacing5;
  padding-bottom: $spacing10;
  @include breakpoints-up(lg) {
    padding: spacing(0, 15, 10)
  }
}

.btn-area {
  margin-top: $spacing5;
  label {
    @include text-align(left)
  }
  @include breakpoints-up(sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include breakpoints-down(xs) {
    text-align: center;
    .form-control-label {
      text-align: left
    }
    button {
      margin-top: $spacing5
    }
  }
  span {
    a {
      color: $palette-primary-main
    }
  }
}

.decoration {
  position: fixed;
  width: 100%;
  height: 120%;
  top: 0;
  @include left(0);
  overflow: hidden;
  .oval {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    position: absolute;
    left: -40%;
    top: -100px;
    opacity: .2;
    @include use-theme(background-color, $palette-primary-light, $palette-primary-dark);
  }
}

.capsul {
  @include use-theme(background-image, linear-gradient(144deg, $palette-primary-light 0%, $palette-secondary-light 100%), linear-gradient(144deg, $palette-primary-dark 0%, $palette-secondary-dark 100%));
  width: 900px;
  height: 500px;
  border-radius: 500px;
  transform: rotate(-30deg);
  position: absolute;
  opacity: .75;
  @include breakpoints-down(md) {
    opacity: 0;
  }
}

.circle {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  border: 1px solid;
  @include use-theme(border-color, $palette-primary-light, $palette-primary-dark);
  position: absolute;
  @include breakpoints-down(md) {
    opacity: 0;
  }
}

.deco-top {
  .capsul {
    top: -200px;
    right: -50%;
  }
  .circle {
    top: -30%;
    right: -30%;
  }
}

.deco-bottom {
  .capsul {
    left: -50%;
    bottom: -30%;
  }
  .circle {
    left: -30%;
    bottom: -30%;
  }
}

.right-icon {
  @include margin-left($spacing1)
}

.form-control-label {
  :deep(.v-messages) {
    min-height: 0;
  }
  > div {
    margin-top: 0
  }
}

.backtohome {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  @include left(60px);
  top: 60px;
  @include breakpoints-down(sm) {
    @include left(calc(50% - 40px));
    top: -120px
  }
  i {
    font-size: 36px;
    @include palette-text-disabled;
  }
  > span i:first-child {
    opacity: 1;
    transition: opacity 0.3s ease
  }
  > span i:last-child {
    position: absolute;
    @include right(0);
    opacity: 0;
    transition: all 0.3s ease
  }
  &:hover {
    > span i:first-child {
      opacity: 0;
    }
    > span i:last-child {
      @include right(27px);
      opacity: 1;
    }
  }
}

.notification {
  .v-btn--round .v-btn__content .v-icon {
    color: #FFF
  }
}