$imgAPI-medical0: "https://res.cloudinary.com/imajin/image/upload/v1591430109/medical/doctor_ws5upi.jpg";
$imgAPI-medical1: "https://res.cloudinary.com/imajin/image/upload/v1591431236/medical/about_nzdnjx.jpg";
$imgAPI-medical2: "https://res.cloudinary.com/imajin/image/upload/v1591430109/medical/clinic_mptn6n.jpg";
$imgAPI-medical3: "https://res.cloudinary.com/imajin/image/upload/v1591430109/medical/clinic2_bbmrbf.jpg";
$imgAPI-medical4: "https://res.cloudinary.com/imajin/image/upload/v1591430109/medical/clinic3_mrsrew.jpg";
$imgAPI-medical5: "https://res.cloudinary.com/imajin/image/upload/v1591430109/medical/clinic4_lmtil0.jpg";
$imgAPI-medical6: "https://res.cloudinary.com/imajin/image/upload/v1591430109/medical/clinic5_kv83cj.jpg";
$imgAPI-medical7: "https://res.cloudinary.com/imajin/image/upload/v1591430110/medical/f1_bep9vx.jpg";
$imgAPI-medical8: "https://res.cloudinary.com/imajin/image/upload/v1591430110/medical/f2_ov9wma.jpg";
$imgAPI-medical9: "https://res.cloudinary.com/imajin/image/upload/v1591430110/medical/f3_qhwcqe.jpg";
$imgAPI-medical10: "https://res.cloudinary.com/imajin/image/upload/v1591430110/medical/m1_qihg3z.jpg";
$imgAPI-medical11: "https://res.cloudinary.com/imajin/image/upload/v1591430110/medical/m2_ovd31s.jpg";
$imgAPI-medical12: "https://res.cloudinary.com/imajin/image/upload/v1591430110/medical/m3_akbcum.jpg";
$imgAPI-medical13: "https://res.cloudinary.com/imajin/image/upload/v1591430233/medical/doctor-big_vnuayx.jpg";

$imgAPI-movie0: "https://res.cloudinary.com/imajin/image/upload/v1592043727/movie/banner_fgsyfg.jpg";
$imgAPI-movie1: "https://res.cloudinary.com/imajin/image/upload/v1592043748/movie/movie1_q5acl5.jpg";
$imgAPI-movie2: "https://res.cloudinary.com/imajin/image/upload/v1592043744/movie/movie2_cxxamr.jpg";
$imgAPI-movie3: "https://res.cloudinary.com/imajin/image/upload/v1592043744/movie/movie3_a5wvov.png";
$imgAPI-movie4: "https://res.cloudinary.com/imajin/image/upload/v1592043731/movie/movie4_gsfgzx.jpg";
$imgAPI-movie5: "https://res.cloudinary.com/imajin/image/upload/v1592045394/movie/movie5_2_bvpnvi.jpg";
$imgAPI-movie6: "https://res.cloudinary.com/imajin/image/upload/v1592043739/movie/trending1_lycszf.jpg";
$imgAPI-movie7: "https://res.cloudinary.com/imajin/image/upload/v1592043742/movie/trending2_x3cuwt.jpg";
$imgAPI-movie8: "https://res.cloudinary.com/imajin/image/upload/v1592043745/movie/trending3_dd1yxr.jpg";
$imgAPI-movie9: "https://res.cloudinary.com/imajin/image/upload/v1592043717/movie/cat1_jcxhfm.png";
$imgAPI-movie10: "https://res.cloudinary.com/imajin/image/upload/v1592043718/movie/cat2_e8w6bj.png";
$imgAPI-movie11: "https://res.cloudinary.com/imajin/image/upload/v1592043718/movie/cat3_pfb5um.png";
$imgAPI-movie12: "https://res.cloudinary.com/imajin/image/upload/v1592043724/movie/cat4_k7pe72.png";
$imgAPI-movie13: "https://res.cloudinary.com/imajin/image/upload/v1592043721/movie/cat5_v9qfbf.png";
$imgAPI-movie14: "https://res.cloudinary.com/imajin/image/upload/v1592043747/movie/cat6_vuiakg.png";
$imgAPI-movie15: "https://res.cloudinary.com/imajin/image/upload/v1592043749/movie/movie2_big_ehsols.jpg";

$imgAPI-education0: "https://res.cloudinary.com/imajin/image/upload/v1592702767/education/photo_dyr0df.jpg";
$imgAPI-education1: "https://res.cloudinary.com/imajin/image/upload/v1592702767/education/science_eoxzzi.jpg";
$imgAPI-education2: "https://res.cloudinary.com/imajin/image/upload/v1592702766/education/geo_pgt0fz.jpg";
$imgAPI-education3: "https://res.cloudinary.com/imajin/image/upload/v1592702766/education/music_nmw3mb.jpg";
$imgAPI-education4: "https://res.cloudinary.com/imajin/image/upload/v1592702766/education/game_pa63b3.jpg";
$imgAPI-education5: "https://res.cloudinary.com/imajin/image/upload/v1592702766/education/cook_bsillr.jpg";
$imgAPI-education6: "https://res.cloudinary.com/imajin/image/upload/v1592702765/education/art_yxsry4.jpg";
$imgAPI-education7: "https://res.cloudinary.com/imajin/image/upload/v1592702765/education/architect_vidsni.jpg";
$imgAPI-education8: "https://res.cloudinary.com/imajin/image/upload/v1592702767/education/sport_ilndwv.jpg";
$imgAPI-education9: "https://res.cloudinary.com/imajin/image/upload/v1592702766/education/design_mfqgit.jpg";
$imgAPI-education10: "https://res.cloudinary.com/imajin/image/upload/v1592702765/education/all_categories_qm5w78.jpg";
$imgAPI-education11: "https://res.cloudinary.com/imajin/image/upload/v1592702765/education/about_class_eng2pq.jpg";
$imgAPI-education12: "https://res.cloudinary.com/imajin/image/upload/v1592702764/education/about_learn_ykpm08.jpg";
$imgAPI-education13: "https://res.cloudinary.com/imajin/image/upload/v1592702764/education/about_student_getuwg.jpg";
$imgAPI-education14: "https://res.cloudinary.com/imajin/image/upload/v1592702768/education/video_cd1rof.jpg";
$imgAPI-education15: "https://res.cloudinary.com/imajin/image/upload/v1592702768/education/video2_oauk3q.jpg";
$imgAPI-education16: "https://res.cloudinary.com/imajin/image/upload/v1592702768/education/video3_lphu09.jpg";
$imgAPI-education17: "https://res.cloudinary.com/imajin/image/upload/v1592702768/education/video4_ql9ofo.jpg";
$imgAPI-education18: "https://res.cloudinary.com/imajin/image/upload/v1592702767/education/parallax_ss05zc.jpg";

$imgAPI-agency0: 'https://res.cloudinary.com/imajin/image/upload/v1583497239/agency/banner-video_dtunkt.jpg';
$imgAPI-agency1: 'https://res.cloudinary.com/imajin/image/upload/v1583497237/agency/about_rwc6wi.jpg';
$imgAPI-agency2: 'https://res.cloudinary.com/imajin/image/upload/v1583497239/agency/service1_x3q49z.jpg';
$imgAPI-agency3: 'https://res.cloudinary.com/imajin/image/upload/v1583497239/agency/service2_o8mdey.jpg';
$imgAPI-agency4: 'https://res.cloudinary.com/imajin/image/upload/v1583497239/agency/service3_hiunda.jpg';
$imgAPI-agency5: 'https://res.cloudinary.com/imajin/image/upload/v1583497237/agency/case1_lvxzy3.jpg';
$imgAPI-agency6: 'https://res.cloudinary.com/imajin/image/upload/v1583497238/agency/case2_ho086n.jpg';
$imgAPI-agency7: 'https://res.cloudinary.com/imajin/image/upload/v1583497237/agency/case3_nbderf.jpg';
$imgAPI-agency8: 'https://res.cloudinary.com/imajin/image/upload/v1583499089/agency/case4_vjkowh.jpg';
$imgAPI-agency9: 'https://res.cloudinary.com/imajin/image/upload/v1583497239/agency/case5_r343kh.jpg';

$imgAPI-architect0: 'https://res.cloudinary.com/imajin/image/upload/v1583510376/architect/banner_nkglrz.jpg';
$imgAPI-architect1: 'https://res.cloudinary.com/imajin/image/upload/v1583510375/architect/project1_nfzwyw.jpg';
$imgAPI-architect2: 'https://res.cloudinary.com/imajin/image/upload/v1583510376/architect/project2_adbpag.jpg';
$imgAPI-architect3: 'https://res.cloudinary.com/imajin/image/upload/v1583510376/architect/project3_cpyyex.jpg';
$imgAPI-architect4: 'https://res.cloudinary.com/imajin/image/upload/v1583510375/architect/featured1_sqbslj.jpg';
$imgAPI-architect5: 'https://res.cloudinary.com/imajin/image/upload/v1572456645/architect/featured2_ug5hpa.jpg';
$imgAPI-architect6: 'https://res.cloudinary.com/imajin/image/upload/v1572456649/architect/featured3_gp2jnv.jpg';
$imgAPI-architect7: 'https://res.cloudinary.com/imajin/image/upload/v1572456653/architect/featured4_xqbn1p.jpg';
$imgAPI-architect8: 'https://res.cloudinary.com/imajin/image/upload/v1572456659/architect/home3d_cvsxd8.png';
$imgAPI-architect9: 'https://res.cloudinary.com/imajin/image/upload/v1572456773/architect/profile1_qvxvg6.png';
$imgAPI-architect10: 'https://res.cloudinary.com/imajin/image/upload/v1572456780/architect/profile2_qpxmdq.png';
$imgAPI-architect11: 'https://res.cloudinary.com/imajin/image/upload/v1572456780/architect/profile3_mzhzph.png';
$imgAPI-architect12: 'https://res.cloudinary.com/imajin/image/upload/v1572456781/architect/profile4_rae9kg.png';
$imgAPI-architect13: 'https://res.cloudinary.com/imajin/image/upload/v1572456781/architect/profile5_gywccf.png';
$imgAPI-architect14: 'https://res.cloudinary.com/imajin/image/upload/v1572456781/architect/profile6_reihlw.png';
$imgAPI-architect15: 'https://res.cloudinary.com/imajin/image/upload/v1572456798/architect/parallax-parallax_hgey7l.jpg';

$imgAPI-crypto0: 'https://res.cloudinary.com/imajin/image/upload/v1570688786/crypto/promo1_ch8yzq.png';
$imgAPI-crypto1: 'https://res.cloudinary.com/imajin/image/upload/v1570688784/crypto/promo2_ynsg8l.png';
$imgAPI-crypto2: 'https://res.cloudinary.com/imajin/image/upload/v1570688786/crypto/promo3_qf2web.png';
$imgAPI-crypto3: 'https://res.cloudinary.com/imajin/image/upload/v1570688786/crypto/promo4_iq6pj5.png';
$imgAPI-crypto4: 'https://res.cloudinary.com/imajin/image/upload/v1583517264/crypto/feature_dm2dpl.jpg';
$imgAPI-crypto5: 'https://res.cloudinary.com/imajin/image/upload/v1583515960/crypto/parallax_r8cohw.jpg';
$imgAPI-crypto6: 'https://res.cloudinary.com/imajin/image/upload/v1583515959/crypto/crypto_laptop_copy_zfbkzw.png';

$imgAPI-fashion0: 'https://res.cloudinary.com/imajin/image/upload/v1571496770/fashion/banner-video_urcivp.jpg';
$imgAPI-fashion1: 'https://res.cloudinary.com/imajin/image/upload/v1571496802/fashion/promo4_uxqt5p.jpg';
$imgAPI-fashion2: 'https://res.cloudinary.com/imajin/image/upload/v1571496802/fashion/promo1_cqcnyy.jpg';
$imgAPI-fashion3: 'https://res.cloudinary.com/imajin/image/upload/v1571496803/fashion/promo3_qcnb1k.jpg';
$imgAPI-fashion4: 'https://res.cloudinary.com/imajin/image/upload/v1571496803/fashion/promo2_gkbk8i.jpg';
$imgAPI-fashion5: 'https://res.cloudinary.com/imajin/image/upload/v1571496801/fashion/arrival1_o25dq6.jpg';
$imgAPI-fashion6: 'https://res.cloudinary.com/imajin/image/upload/v1571496801/fashion/arrival2_bkwabc.jpg';
$imgAPI-fashion7: 'https://res.cloudinary.com/imajin/image/upload/v1571496802/fashion/arrival3_egdepz.jpg';
$imgAPI-fashion8: 'https://res.cloudinary.com/imajin/image/upload/v1571496803/fashion/trending1_soyz9b.jpg';
$imgAPI-fashion9: 'https://res.cloudinary.com/imajin/image/upload/v1571496803/fashion/trending2_kxo1nd.jpg';
$imgAPI-fashion10: 'https://res.cloudinary.com/imajin/image/upload/v1571496803/fashion/trending3_yxppzm.jpg';
$imgAPI-fashion11: 'https://res.cloudinary.com/imajin/image/upload/v1571496787/fashion/cat1_sy84p6.png';
$imgAPI-fashion12: 'https://res.cloudinary.com/imajin/image/upload/v1571496795/fashion/cat2_jrksqc.png';
$imgAPI-fashion13: 'https://res.cloudinary.com/imajin/image/upload/v1571496800/fashion/cat3_gso57r.png';
$imgAPI-fashion14: 'https://res.cloudinary.com/imajin/image/upload/v1571496798/fashion/cat4_jxu7jq.png';
$imgAPI-fashion15: 'https://res.cloudinary.com/imajin/image/upload/v1571496795/fashion/cat5_fhd4op.png';
$imgAPI-fashion16: 'https://res.cloudinary.com/imajin/image/upload/v1571496799/fashion/cat6_ylmvql.png';
$imgAPI-fashion17: 'https://res.cloudinary.com/imajin/image/upload/v1571496799/fashion/item1_jn10kv.png';
$imgAPI-fashion18: 'https://res.cloudinary.com/imajin/image/upload/v1571496800/fashion/item2_apmdya.png';
$imgAPI-fashion19: 'https://res.cloudinary.com/imajin/image/upload/v1571496800/fashion/item3_qexxjf.png';
$imgAPI-fashion20: 'https://res.cloudinary.com/imajin/image/upload/v1571496800/fashion/item4_wxzzxi.png';
$imgAPI-fashion21: 'https://res.cloudinary.com/imajin/image/upload/v1571496800/fashion/item5_j1vebv.png';
$imgAPI-fashion22: 'https://res.cloudinary.com/imajin/image/upload/v1571496801/fashion/item6_bdgzed.png';
$imgAPI-fashion23: 'https://res.cloudinary.com/imajin/image/upload/v1571496801/fashion/item7_r2hwv3.png';
$imgAPI-fashion24: 'https://res.cloudinary.com/imajin/image/upload/v1571496801/fashion/item8_nzloqy.png';
$imgAPI-fashion25: 'https://res.cloudinary.com/imajin/image/upload/v1571496801/fashion/item9_omlgit.png';
$imgAPI-fashion26: 'https://res.cloudinary.com/imajin/image/upload/v1571498283/fashion/tb1_nvmfwd.jpg';
$imgAPI-fashion27: 'https://res.cloudinary.com/imajin/image/upload/v1571498284/fashion/tb4_iofu3p.jpg';
$imgAPI-fashion28: 'https://res.cloudinary.com/imajin/image/upload/v1571498285/fashion/tb3_cp200b.jpg';
$imgAPI-fashion29: 'https://res.cloudinary.com/imajin/image/upload/v1571498286/fashion/tb9_niyckg.jpg';
$imgAPI-fashion30: 'https://res.cloudinary.com/imajin/image/upload/v1571497753/fashion/tb2_gbve3e.jpg';
$imgAPI-fashion31: 'https://res.cloudinary.com/imajin/image/upload/v1571498284/fashion/tb5_rqmay6.jpg';
$imgAPI-fashion32: 'https://res.cloudinary.com/imajin/image/upload/v1571498281/fashion/tb6_f9vk9m.jpg';
$imgAPI-fashion33: 'https://res.cloudinary.com/imajin/image/upload/v1571497756/fashion/tb7_ebjjgv.jpg';
$imgAPI-fashion34: 'https://res.cloudinary.com/imajin/image/upload/v1571498284/fashion/tb8_ycgiji.jpg';
$imgAPI-fashion35: 'https://res.cloudinary.com/imajin/image/upload/v1571496796/fashion/detail1_jxsvg7.png';

$imgAPI-hosting0: 'https://res.cloudinary.com/imajin/image/upload/v1570283129/hosting/promo1_nkszgi.png';
$imgAPI-hosting1: 'https://res.cloudinary.com/imajin/image/upload/v1570283109/hosting/promo2_x4lpyi.png';
$imgAPI-hosting2: 'https://res.cloudinary.com/imajin/image/upload/v1570283113/hosting/promo3_asgjnd.png';
$imgAPI-hosting3: 'https://res.cloudinary.com/imajin/image/upload/v1570283176/hosting/parallax_fkyn7g.jpg';
$imgAPI-hosting4: 'https://res.cloudinary.com/imajin/image/upload/v1570283159/hosting/hosting_benefit_ahcacz.png';

$imgAPI-mobile0: 'https://res.cloudinary.com/imajin/image/upload/v1572031103/mobile/mobile_banner_tfoequ.png';
$imgAPI-mobile1: 'https://res.cloudinary.com/imajin/image/upload/v1572027909/mobile/widget-top_k06l3y.png';
$imgAPI-mobile2: 'https://res.cloudinary.com/imajin/image/upload/v1572027923/mobile/widget-left_mbgpch.png';
$imgAPI-mobile3: 'https://res.cloudinary.com/imajin/image/upload/v1572027930/mobile/widget-right_uxdcdm.png';
$imgAPI-mobile4: 'https://res.cloudinary.com/imajin/image/upload/v1572099963/mobile/phone-left_mdthbj.png';
$imgAPI-mobile5: 'https://res.cloudinary.com/imajin/image/upload/v1572030940/mobile/phone-right_e2ywhd.png';
$imgAPI-mobile6: 'https://res.cloudinary.com/imajin/image/upload/v1572030722/mobile/video_cd5lwh.jpg';
$imgAPI-mobile7: 'https://res.cloudinary.com/imajin/image/upload/v1572028121/mobile/screen1_aykyri.jpg';
$imgAPI-mobile8: 'https://res.cloudinary.com/imajin/image/upload/v1572028125/mobile/screen2_de6gdl.jpg';
$imgAPI-mobile9: 'https://res.cloudinary.com/imajin/image/upload/v1572028137/mobile/screen3_bbccec.jpg';
$imgAPI-mobile10: 'https://res.cloudinary.com/imajin/image/upload/v1572028141/mobile/screen4_slsomv.jpg';
$imgAPI-mobile11: 'https://res.cloudinary.com/imajin/image/upload/v1572028145/mobile/screen5_gd8aoi.jpg';
$imgAPI-mobile12: 'https://res.cloudinary.com/imajin/image/upload/v1572028147/mobile/screen6_hxhms3.jpg';
$imgAPI-mobile13: 'https://res.cloudinary.com/imajin/image/upload/v1572028175/mobile/screen7_zlvmgp.jpg';
$imgAPI-mobile14: 'https://res.cloudinary.com/imajin/image/upload/v1572028196/mobile/widget_screen1_tu4qwv.png';
$imgAPI-mobile15: 'https://res.cloudinary.com/imajin/image/upload/v1572028199/mobile/widget_screen2_sypvkz.png';
$imgAPI-mobile16: 'https://res.cloudinary.com/imajin/image/upload/v1572028202/mobile/widget_screen3_b8fusl.png';
$imgAPI-mobile17: 'https://res.cloudinary.com/imajin/image/upload/v1572028205/mobile/widget_screen4_rtuoow.png';
$imgAPI-mobile18: 'https://res.cloudinary.com/imajin/image/upload/v1572028209/mobile/widget_screen5_ijno7p.png';
$imgAPI-mobile19: 'https://res.cloudinary.com/imajin/image/upload/v1572028211/mobile/widget_screen6_cuoqtl.png';
$imgAPI-mobile20: 'https://res.cloudinary.com/imajin/image/upload/v1572028212/mobile/widget_screen7_qag1jq.png';
$imgAPI-mobile21: '';

$imgAPI-profile0: 'https://res.cloudinary.com/imajin/image/upload/v1571764542/profile/cover_iv84lw.jpg';
$imgAPI-profile1: 'https://res.cloudinary.com/imajin/image/upload/v1583593607/profile/profile_tz0izw.jpg';
$imgAPI-profile2: 'https://res.cloudinary.com/imajin/image/upload/v1571764542/profile/bgDesk_akf1es.jpg';
$imgAPI-profile3: 'https://res.cloudinary.com/imajin/image/upload/v1571764542/profile/port1_xmjejs.jpg';
$imgAPI-profile4: 'https://res.cloudinary.com/imajin/image/upload/v1571764543/profile/port2_tvko8h.jpg';
$imgAPI-profile5: 'https://res.cloudinary.com/imajin/image/upload/v1571764543/profile/port3_eaa4q6.jpg';
$imgAPI-profile6: 'https://res.cloudinary.com/imajin/image/upload/v1571764542/profile/port4_yw5fs1.jpg';
$imgAPI-profile7: 'https://res.cloudinary.com/imajin/image/upload/v1571764542/profile/port5_zp3fyg.jpg';
$imgAPI-profile8: 'https://res.cloudinary.com/imajin/image/upload/v1571764542/profile/port6_a5ew2j.jpg';
$imgAPI-profile9: 'https://res.cloudinary.com/imajin/image/upload/v1571876118/profile/deskDark_pof62n.jpg';

$imgAPI-saas0: 'https://res.cloudinary.com/imajin/image/upload/v1571261783/saas/app-screen1_nddmrv.jpg';
$imgAPI-saas1: 'https://res.cloudinary.com/imajin/image/upload/v1571261871/saas/app-chart_exua6w.jpg';
$imgAPI-saas2: 'https://res.cloudinary.com/imajin/image/upload/v1571261793/saas/app-screen2_rt1jqc.jpg';
$imgAPI-saas3: 'https://res.cloudinary.com/imajin/image/upload/v1571261796/saas/app-counter_jpqii5.png';
$imgAPI-saas4: 'https://res.cloudinary.com/imajin/image/upload/v1571261795/saas/app-screen3_mgnq5w.jpg';
$imgAPI-saas5: 'https://res.cloudinary.com/imajin/image/upload/v1571261794/saas/app-screen4_agrclh.jpg';
$imgAPI-saas6: 'https://res.cloudinary.com/imajin/image/upload/v1571261794/saas/app-screen5_w37qjo.jpg';
$imgAPI-saas7: 'https://res.cloudinary.com/imajin/image/upload/v1573808069/saas/desktop_illustration_ykznmj.png';

$imgAPI-showcase0: 'https://ik.imagekit.io/q5gfy1zcvl/luxi-vue-banner-showcase_Te67fpxIR7.jpg';
$imgAPI-showcase1: 'https://ik.imagekit.io/q5gfy1zcvl/03_01_preview_agency_iXM2Otn6n.jpg';
$imgAPI-showcase2: 'https://ik.imagekit.io/q5gfy1zcvl/03_02_preview_architect_ETLHYZ2Iv.jpg';
$imgAPI-showcase3: 'https://ik.imagekit.io/q5gfy1zcvl/03_03_preview_crypto_W687F5KLq.jpg';
$imgAPI-showcase4: 'https://ik.imagekit.io/q5gfy1zcvl/03_04_preview_fashion_rawmjfFNUO.jpg';
$imgAPI-showcase5: 'https://ik.imagekit.io/q5gfy1zcvl/03_05_preview_hosting_ht5lyzrhC.jpg';
$imgAPI-showcase6: 'https://ik.imagekit.io/q5gfy1zcvl/03_06_preview_mobile_HJux8GYHg.jpg';
$imgAPI-showcase7: 'https://ik.imagekit.io/q5gfy1zcvl/03_07_preview_profile_t00U1dDVUT.jpg';
$imgAPI-showcase8: 'https://ik.imagekit.io/q5gfy1zcvl/03_08_preview_saas_MZBg7aLZU.jpg';