@mixin arrow-nav {
  width: 60px;
  top: 15px;
  position: absolute;
  display: block
};

.root {
  position: relative;
  margin-top: -200px;
  margin-left: 64px;
  margin-right: 64px;
  z-index: 12;
  @include breakpoints-down(xs) {
    margin-left: 0;
    margin-right: 0;
  }
  > .v-container {
    position: relative;
    width: auto;
    max-width: 1100px;
    margin: 0 auto;
    @include breakpoints-down(md) {
      padding: 0 !important
    }
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  figure {
    margin: 0
  }
}

.desc {
  padding: $spacing1
}

.inner-bg {
  overflow: hidden;
  width: 100%
}

.v-icon.arrow-icon {
  color: rgba(0, 0, 0, 0.87);
  position: absolute;
  display: block;
  font-size: 60px;
  left: 0;
  bottom: 170px;
  .v-locale--is-rtl & {
    transform: rotate(180deg)
  }
}

.slider-wrap {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  > div {
    height: 450px;
    overflow: hidden;
    .item.odd {
      .inner-bg {
        background: $palette-primary-dark
      }
      .desc {
        span {
          background: $palette-secondary-main
        }
      }
    }
    .item.even {
      .inner-bg {
        background: $palette-secondary-dark
      }
      .desc {
        span {
          background: $palette-primary-main
        }
      }
    }
  }
}

a.prev {
  background: $palette-secondary-light;
  @include left(-60px);
  height: 450px;
  @include breakpoints-up(lg) {
    @include left(-28px);
  }
  @include breakpoints-up(sm) {
    height: 420px
  }
  @include arrow-nav;
}
a.next {
  background: $palette-primary-light;
  @include right(-60px);
  height: 450px;
  @include breakpoints-up(lg) {
    @include right(-28px);
  }
  @include breakpoints-up(sm) {
    height: 420px
  }
  @include arrow-nav;
}
a {
  @include breakpoints-down(xs) {
    visibility: hidden
  }
}

.item {
  display: flex;
  padding: 0;
  height: 450px;
  &:before {
    display: none
  }
}

.text {
  flex: 1;
  padding: spacing(4, 3);
  color: $palette-common-white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  h2 {
    text-transform: uppercase;
    font-weight: $font-bold;
    margin-bottom: $spacing3;
    span {
      display: block;
      font-weight: $font-regular;
    }
  }
  h4 {
    margin-bottom: $spacing3
  }
}

.button {
  margin-top: $spacing3;
  color: $palette-common-white;
  border: 1px solid #fff;
  width: 200px;
}

.icon-btn {
  @include margin-left($spacing1)
}

.image {
  height: 100%;
  figure {
    margin: 0;
    height: 100%;
    img {
      min-width: 100%;
      min-height: 100%;
    }
  }
}

/* Slideshow Animtion */
.slide h2 {
	transition: all 0.3s ease;
	opacity: 1;
}

.slide h4 {
	transition: all 0.3s ease;
	opacity: 1;
}

.slide figure img {
    transition: all 1s ease;
	opacity: 1;
}

.slide article {
    transition: all 0.3s ease-out;
	opacity: 1;
}

.slide button {
    transition: all 0.3s ease-out;
	opacity: 1;
}

.slide-right-leave-active,
.slide-right-enter-active,
.slide-left-leave-active,
.slide-left-enter-active {
  transition: all 2s ease;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  overflow: hidden;
  visibility: visible;
  position: absolute;
  width:100%;
  opacity: 1;
  h2, h4, figure img, article.desc, .button {
    -webkit-transform: translateX(0);
	        transform: translateX(0);
	-webkit-transition-delay: .7s;
					transition-delay: .7s;
					opacity: 1;
  }
}

.slide-right-leave-to,
.slide-left-leave-to {
  figure img {
    -webkit-transform: translateX(0);
	        transform: translateX(0);
    opacity: 1;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
}

/* Slide Out delay */
.slide-right-leave-to,
.slide-left-leave-to {
  h2 {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
  }
  h4 {
	-webkit-transition-delay: .2s;
    transition-delay: .2s;
  }
  figure img {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  article.desc {
	-webkit-transition-delay: 1.3s;
    transition-delay: 0.2s;
  }
  .button {
	-webkit-transition-delay: 1s;
    transition-delay: 0.1s;
  }
}

.slide-right-enter-from {
  transform: translate(100%, 0);
}
.slide-left-leave-to {
  transform: translate(100%, 0);
}
.slide-right-leave-to {
  transform: translate(-100%, 0);
}
.slide-left-enter-from {
  transform: translate(-100%, 0);
}

.slide-left-enter-from,
.slide-right-leave-to {
  h2 {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 1;
  }
  h4 {
	-webkit-transform: translateX(20px);
    transform: translateX(20px);
	opacity: 1;
  }
  figure img {
	-webkit-transform: translateX(20px);
    transform: translateX(20px);
	opacity: 1;
  }
  article.desc {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 1;
  }
  .button {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
}

/* Slide Out delay */

.slide-right-enter-from,
.slide-left-leave-to{
  h2 {
    transition: all 0.3s ease;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 0;
  }
  h4 {
	transition: all 0.3s ease;
	-webkit-transform: translateX(20px);
    transform: translateX(20px);
	opacity: 0;
  }
  figure img {
	transition: all 0.3s ease;
	-webkit-transform: translateX(200px);
    transform: translateX(200px);
	opacity: 0;
  }
  article.desc {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
  }
  .button {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
}

.swipper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include breakpoints-up(md) {
    display: none
  }
}
