.root {
  position: relative;
  display: flex;
  height: 490px;
  overflow: hidden
}

.item {
  position: relative;
  overflow: hidden;
  &:focus {
    outline: none
  }
}

.img-slider {
  background: $palette-primary-dark;
  width: 50%;
  @include breakpoints-down(sm) {
    display: none
  }
  .item {
    height: 490px;
    img {
      min-width: 100%;
      height: 100%;
    }
  }
  :deep(.splide__list) {
    direction: ltr
  }
}

.title-main {
  font-weight: $font-bold;
  font-family: 'Roboto Condensed';
  color: $palette-common-white;
}

.v-icon.icon {
  position: absolute;
  top: 10px;
  @include right(0);
  height: 180px;
  width: 180px;
  font-size: 180px;
  opacity: 0.27;
  color: $palette-common-black;
  @include breakpoints-down(xs) {
    display: none
  }
}

.divider {
  width: 135px;
  margin: $spacing5 auto;
  background: $palette-primary-main;
  opacity: 0.2
}

.text-slider {
  position: relative;
  padding-top: $spacing10;
  background: $palette-primary-dark;
  text-align: center;
  width: 100%;
  @include breakpoints-up(md) {
    width: 50%
  }
  .item {
    color: $palette-common-white;
    p {
      padding: spacing(0, 5);
    }
    h6 {
      font-weight: $font-bold
    }
  }
  nav {
    position: absolute;
    @include left(0);
    bottom: 0;
    background: $palette-common-black;
    @include breakpoints-up(md) {
      background: rgba(0, 0, 0, 0.27)
    }
  }
}

.nav-button {
  @include breakpoints-down(xs) {
    display: none;
  }
  &.v-btn i {
    color: $palette-primary-light;
    .v-locale--is-rtl & {
      transform: rotate(180deg)
    }
  }
}

.carousel {
  display: block;
  margin-top: $spacing6
}

.parallax-props {
  height: 490px
}