$error-deco: '/images/movie/error-deco.svg';

.error-wrap {
  width: 100%;
  min-height: 90vh;
  display: flex;
  margin-top: $spacing10;
  align-items: center;
  padding: spacing(10, 0, 0);
  @include breakpoints-down(xs) {
    padding-top: $spacing5
  }
  > section {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
  .flex {
    display: flex;
    justify-content: center
  }

  .deco {
    position: relative;
    width: 280px;
    height: 280px;
    background: url($error-deco) no-repeat center center;
    background-size: contain;
    @include breakpoints-up(md) {
      margin-top: -60px
    }
    h3 {
      color: $palette-primary-dark;
      text-transform: capitalize;
      font-weight: 700;
      padding: $spacing2;
      text-align: center;
      line-height: 280px;
    }
  }

  .text {
    @include breakpoints-up(md) {
      @include border-left(1px solid);
      @include palette-divider;
      @include padding-left($spacing5);
    }
    @include breakpoints-down(sm) {
      text-align: center;
    }
    h4 {
      font-weight: $font-bold;
      margin-bottom: $spacing3  
    }
  }

  .button {
    margin-top: $spacing4;
    width: 205px;
  }
}