.root {
  position: relative;
  > * {
    position: relative
  }
}

.deco {
  position: absolute;
  top: $spacing10 * -1;
  @include left(0);
  height: 560px;
  width: 70%;
  .v-locale--is-rtl.v-theme--dark & {
    background-image: linear-gradient(-160deg, $palette-primary-dark 50%, $dark-background-default 50%)
  }
  .v-locale--is-ltr.v-theme--dark & {
    background-image: linear-gradient(160deg, $palette-primary-dark 50%, $dark-background-default 50%)
  }
  .v-locale--is-rtl.v-theme--light & {
    background-image: linear-gradient(-160deg, $palette-primary-light 50%, $light-background-paper 50%)
  }
  .v-locale--is-ltr.v-theme--light & {
    background-image: linear-gradient(160deg, $palette-primary-light 50%, $light-background-paper 50%)
  }
  @include breakpoints-down(sm) {
    background: $palette-secondary-main
  }
  @include breakpoints-down(md) {
    height: 720px
  }
  @include breakpoints-down(sm) {
    width: 100%
  }
}

.team-wrap {
  @include breakpoints-up(sm){
    margin-top: $spacing10
  }
}