.error-wrap {
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  margin-top: 80px;
  padding-top: 40px;
}

.flex {
  display: flex;
  justify-content: center
}

.deco {
  position: relative;
  position: relative;
  width: 260px;
  height: 260px;
  text-align: center;
  border-radius: 50%;
  @include use-theme(background-color, $light-divider, $dark-divider);
  h3 {
    @include use-theme(color, $palette-primary-dark, $palette-primary-light);
    font-size: 106px;
    text-transform: capitalize;
    font-weight: $font-bold;
    line-height: 260px;
    position: relative;
    z-index: 1;
  }
}

.text {
  @include breakpoints-up(md) {
    @include border-left(1px solid);
    @include palette-divider;
    @include padding-left($spacing5);
  }
  @include breakpoints-down(sm) {
    text-align: center;
  }
  h4 {
    font-weight: $font-bold;
    margin-bottom: $spacing3  
  }
  p {
    font-size: 22px;
    @include palette-text-secondary
  }
}

.button {
  margin-top: $spacing4
}
