.error-wrap {
  width: 100%;
  min-height: 640px;
  display: flex;
  align-items: center;
  padding-top: $spacing15
}

.flex {
  display: flex;
  justify-content: center
}

.deco {
  position: relative;
  background: $palette-primary-main;
  width: 206px;
  height: 280px;
  @include breakpoints-up(md) {
    margin-top: -120px
  }
  h3 {
    color: $palette-common-white;
    font-family: 'Roboto Condensed' !important;
    text-transform: capitalize;
    font-weight: 700;
    padding: $spacing2;
    z-index: 1;
    position: absolute;
    bottom: 0;
    @include right(0)
  }
  &:before {
    content: "";
    width: 320px;
    height: 230px;
    position: absolute;
    top: $spacing3 * -1;
    @include left($spacing5 * -1)
  }
}

.text {
  @include breakpoints-up(md) {
    @include border-left(1px solid);
    @include palette-divider;
    @include padding-left($spacing5);
  }
  @include breakpoints-down(md) {
    text-align: center;
  }
  h4 {
    font-family: 'Roboto Condensed' !important;
    font-weight: $font-bold;
    margin-bottom: $spacing3  
  }
}

.button {
  margin-top: $spacing4;
  width: 205px;
  @include use-theme(border-color, $palette-primary-dark, #FFF);
  @include use-theme(color, $palette-primary-dark, #FFF);
}
