$imgAPI-hosting0: '/images/hosting/wp.png';
$imgAPI-hosting1: '/images/hosting/wp.png';
$imgAPI-hosting2: '/images/hosting/wp.png';
$imgAPI-hosting3: 'https://placehold.co/1280x868/204473/757575';
$imgAPI-hosting4: '/images/hosting/monitor.png';
