$imgAPI-movie0: "https://placehold.co/1280x854/8d815b/FFFFFF";
$imgAPI-movie1: "https://placehold.co/300x440/ffa4a4/757575";
$imgAPI-movie2: "https://placehold.co/300x440/74b7fa/757575";
$imgAPI-movie3: "https://placehold.co/300x440/ffa4a4/757575";
$imgAPI-movie4: "https://placehold.co/300x440/74b7fa/757575";
$imgAPI-movie5: "https://placehold.co/300x440/ffa4a4/757575";
$imgAPI-movie6: "https://placehold.co/320x370/ffa4a4/FFFFFF";
$imgAPI-movie7: "https://placehold.co/700x360/ffd7a4/757575";
$imgAPI-movie8: "https://placehold.co/320x370/d0d4e6/757575";
$imgAPI-movie9: "/images/movie/bag.png";
$imgAPI-movie10: "/images/movie/bag.png";
$imgAPI-movie11: "/images/movie/man.png";
$imgAPI-movie12: "/images/movie/bag.png";
$imgAPI-movie13: "/images/movie/bag.png";
$imgAPI-movie14: "/images/movie/woman.png";
$imgAPI-movie15: "https://placehold.co/533x799/fdffa4/75757";
