$icon-one: '/images/education/parallax-one.png';
$icon-two: '/images/education/parallax-two.png';
$icon-three: '/images/education/parallax-three.png';
$icon-four: '/images/education/parallax-four.png';

.hero-content {
  @include breakpoints-down(xs) {
    background-size: 50%;
    .v-theme--light & {
      @include bg-color-lighten($palette-primary-light, 0.7)
    }
    .v-theme--dark & {
      @include bg-color-darken($palette-primary-dark, 0.7)
    }
  }
  position: relative;
  > .v-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 auto;
  }
  @include breakpoints-up(lg) {
    @include padding-left($spacing6);
    margin-bottom: 0;
  }
}

.banner-wrap {
  position: relative
}

.banner-text {
  position: relative;
  z-index: 4;
  padding: spacing(4, 0);
  margin-top: $spacing12;
  @include breakpoints-up(md) {
    @include palette-text-primary;
  }
  @include breakpoints-down(md) {
    padding: spacing(6, 0);
  }
  @include breakpoints-down(sm) {
    padding: spacing(1, 0, 4);
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.title {
  margin-top: $spacing12;
  margin-bottom: $spacing3;
  position: relative;
  display: inline-block;
  h3 {
    position: relative;
  }
  &:before {
    content: '';
    height: 20px;
    @include use-theme(background, $palette-secondary-light, $palette-secondary-dark);
    @include use-theme(opacity, 1, 0.7);
    width: 90%;
    position: absolute;
    bottom: 10px;
    @include left(0);
    z-index: 0;
    @include breakpoints-down(xs) {
      height: 10px;
      @include left(5%);
    }
  }
  @include breakpoints-down(md) {
    margin-top: $spacing15;
  }
  @include breakpoints-down(xs) {
    margin-top: $spacing5;
  }
}

.subtitle {
  margin-bottom: $spacing3;
  font-size: 24px;
  font-weight: $font-regular;
  @include breakpoints-up(lg) {
    @include padding-right($spacing8)
  }
  @include breakpoints-up(md) {
    margin-bottom: $spacing5
  }
  @include breakpoints-down(xs) {
    font-size: 20px;
  }
}

.deco-grid {
  position: static
}

.deco-banner {
  .artwork-bg {
    position: absolute !important;
    top: -420px;
    @include left(-100px);
    border-radius: 40px;
    transform: rotate(-10deg);
    width: 120%;
    overflow: hidden;
    height: 1024px;
    @include breakpoints-down(sm) {
      height: 1120px;
    }
    .v-theme--light & {
      @include bg-color-lighten($palette-primary-light, 0.7)
    }
    .v-theme--dark & {
      @include bg-color-darken($palette-primary-dark, 0.7)
    }
    .oval {
      @include use-theme(background, $palette-secondary-light, $palette-secondary-dark);
      width: 250px;
      height: 250px;
      border-radius: 50%;
      position: absolute;
      @include right(27%);
      bottom: 60px;
      @include breakpoints-down(md) {
        @include right(20%);
      }
    }
    img {
      z-index: 5;
      position: absolute;
      bottom: -60px;
      width: 400px;
      transform: rotate(10deg);
      @include right(20%);
      @include breakpoints-down(md) {
        @include right(5%);
      }
    }
  }
}

.parallax-scene {
  @include right(240px);
  transform: rotate(10deg);
  transform-origin: top;
  width: 1200px;
  position: relative;
  margin: 0 auto;
  &.back {
    z-index: 4;
  }
  &.front {
    z-index: 6;
  }
  span {
    display: block;
    position: relative;
  }
  @include breakpoints-down(md) {
    display: none
  }
}

.icon-one {
  top: -1070px;
  width: 510px;
  @include right(-70%);
  height: 600px;
  background: url($icon-one) no-repeat
}

.icon-two {
  width: 450px;
  height: 560px;
  @include right(-65%);
  top: -530px;
  background: url($icon-two) no-repeat
}

.icon-three {
  width: 400px;
  height: 560px;
  @include right(-80%);
  top: 600px;
  background: url($icon-three) no-repeat
}

.icon-four {
  width: 400px;
  height: 560px;
  @include right(-85%);
  top: 20px;
  background: url($icon-four) no-repeat
}

.search-banner {
  margin-top: $spacing3;
  font-size: 18px;
  overflow: visible;
  @include breakpoints-up(md) {
    max-width: none;
  }
  @include breakpoints-down(xs) {
    margin-top: $spacing4
  }
  :deep(.v-field__overlay) {
    display: none
  }
  :deep(.v-input__control) {
    background: none !important;
    min-height: 0;
    border: none;
    padding: 0 !important;
    .v-field {
      border: none;
    }
    .v-input__append-inner {
      margin-top: 4px
    }
    &:before, &:after {
      display: none;
    }
  }
  :deep(.v-text-field--filled .v-label--active, .v-text-field--full-width .v-label--active) {
    transform: translateY(-24px) scale(0.75);
    transform-origin: top left;
  }
}

.search {
  font-size: 18px;
  width: 100%;
  :deep(.v-field) {
    input {
      margin: 0;
      padding: $spacing2;
      max-height: none;
      height: 75px;
      @include breakpoints-up(md) {
        .theme--is-ltr & {
          padding: spacing(4, 10, 3, 3)
        }
        .theme--is-rtl & {
          padding: spacing(4, 3, 3, 10)
        }
      }
    }
    .v-label {
      font-size: 20px;
      &:not(.v-field-label--floating) {
        top: 22px;
      }
      &.v-field-label--floating {
        font-size: 14px
      }
    }
  }
}

.action {
  position: absolute;
  @include right(0);
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: $spacing2;
}

.button {
  &.v-btn:not(.v-btn--round).v-size--default {
    width: 48px;
    height: 48px;
    align-items: center;
    color: $palette-primary-main;
    i {
      line-height: 48px;
      font-size: 42px
    }
  }
}
