.root {
  position: relative;
  text-align: center;
  height: 520px;
}
.parallax-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  :deep(.v-img__img) {
    @include breakpoints-down(sm) {
      transform: none !important;
    }
  }
}

.form {
  @include palette-background-paper;
  max-width: 700px;
  border-radius: 20px;
  margin: 0 auto;
  top: 250px;
  width: 100%;
  display: block;
  @include palette-text-secondary;
  position: relative;
  bottom: $spacing10 * -1;
  padding: spacing(5, 10);
  @include breakpoints-down(xs) {
    padding: spacing(5, 2);
  }
  h4 {
    @include palette-text-primary;
    margin-bottom: $spacing3
  }
}

.field {
  margin: spacing(3, 0, 4)
}

.v-btn.v-size--large.button {
  margin: 0 auto;
  min-width: 185px
}