$imgAPI-crypto0: '/images/crypto/hexa-orange.png';
$imgAPI-crypto1: '/images/crypto/hexa-green.png';
$imgAPI-crypto2: '/images/crypto/hexa-orange.png';
$imgAPI-crypto3: '/images/crypto/hexa-green.png';
$imgAPI-crypto4: 'https://placehold.co/600x341/cac142/FFFFFF';
$imgAPI-crypto5: 'https://placehold.co/1280x677/204473/FFFFFF';
$imgAPI-crypto6: '/images/crypto/crypto_laptop.png';
