.root {
  position: relative;
  @include breakpoints-up(sm) {
    @include use-theme(background-image, url($imgAPI-profile2), url($imgAPI-profile9));
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  @include breakpoints-down(md) {
    padding-top: $spacing5
  }
}

.name-deco {
  margin: 0px;
  padding: 0px;
  transform: rotate(-90deg);
  transform-origin: top center;
  letter-spacing: -10px;
  position: absolute;
  font-weight: $font-regular;
  text-transform: uppercase;
  color: $palette-common-black;
  top: $spacing3 * 10;
  @include left($spacing5 * -1);
  font-size: 72px;
  opacity: 0.1;
  z-index: 20
}

.title-timeline {
  text-transform: uppercase;
  margin-bottom: $spacing3;
  @include use-theme(color, $palette-secondary-dark, $palette-secondary-light);
}

.history {
  @include border-left(2px solid);
  position: relative;
  padding: spacing(5, 4, 10);
  border-image-source: linear-gradient(190deg, $palette-secondary-main, $palette-primary-main);
  border-image-slice: 1;
  border-top: 0;
  border-bottom: 0;
  @include border-right(0);
  @include breakpoints-down(md) {
    border: none !important
  }
  @include breakpoints-down(xs) {
    padding: spacing(0, 0, 5)
  }
  h3 {
    font-weight: $font-bold;
    @include breakpoints-down(xs) {
      width: 100%
    }
  }
  p {
    @include breakpoints-down(xs) {
      display: inline-block;
      @include margin-right($spacing2)
    }
  }
  ul {
    margin: 0px;
    padding: 0px;
    li {
      list-style: none;
      margin-bottom: $spacing5;
      position: relative;
      @include breakpoints-down(sm) {
        @include padding-left(45px)
      }
      &:last-child {
        margin-bottom: 0
      }
      &:before {
        content: "";
        border-radius: 50%;
        width: 24px;
        height: 24px;
        border: 4px solid;
        @include use-theme(background, $palette-primary-dark, $palette-primary-main);
        @include use-theme(border-color, $light-background-paper, $dark-background-default);
        position: absolute;
        @include left(-45px);
        top: 4px;
        @include breakpoints-down(sm) {
          @include left(0)
        }
      }
      .time {
        @include palette-text-secondary
      }
    }
  }
}

.progress-wrap {
  padding-bottom: $spacing8;
  @include breakpoints-up(sm) {
    padding: spacing(5, 0, 10)
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin-bottom: $spacing5;
      &:last-child {
        margin-bottom: 0
      }
      h5 {
        font-weight: $font-bold
      }
    }
  }
}

.text-icon {
  margin-bottom: $spacing1;
  display: flex;
  align-items: center;
  i {
    @include palette-text-secondary;
    font-size: 28px;
  }
  h5 {
    @include margin-left($spacing1)
  }
}

.progress {
  border-radius: 10px;
  @include use-theme(background, $light-divider, $dark-divider);
  :deep(.v-progress-linear__determinate) {
    transition: all 0.5s cubic-bezier(0, 0, 0, 0.96);
    border-radius: 10px;
    background-image: linear-gradient(120deg, $palette-secondary-main, $palette-primary-main);
  }
}
