 .root {
  position: relative;
  padding: spacing(10, 0);
  @include breakpoints-down(sm) {
    background: $palette-primary-main
  }
  @include breakpoints-down(xs) {
    padding: spacing(5, 0);
  }
  &:before {
    content: "";
    @include use-theme(background, $palette-primary-main, $palette-primary-dark);
    width: 80%;
    height: 100%;
    .v-locale--is-ltr & {
      border-top-right-radius: 100px;
    }
    .v-locale--is-rtl & {
      border-top-left-radius: 100px;
    }
    position: absolute;
    top: 0;
    @include left(0);
    @include breakpoints-down(sm) {
      display: none
    }
  }
}
.parallax-wrap {
  position: absolute;
  @include left(20px);
  height: 100%;
  width: 500px;
}

.props {
  @include breakpoints-down(sm) {
    display: none !important;
  }
  > div {
    width: 440px;
    height: 2px;
  }
  &:focus {
    outline: none
  }
}

.floating-title {
  @include text-align(left);
  @include breakpoints-up(sm) {
    padding: spacing(0, 2);
    width: 300px;
  }
  @include breakpoints-up(md) {
    position: absolute;
    @include left(5%);
    top: $spacing15;
    width: 370px;
  }
  @include breakpoints-down(sm) {
    width: 100%;
  }
}

.carousel {
  position: relative;
  z-index: 1;
  @include breakpoints-up(md) {
    margin-bottom: -20px;
  }
}
.item {
  padding: spacing(0, 1);
  margin-bottom: $spacing5;
  &:focus {
    outline: none
  }
  > * {
    margin: 0 auto
  }
}
.link {
  padding: 0;
  span {
    text-transform: none;
    font-weight: $font-regular;
  }
}
.nav {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  margin-top: -45px;
  width: 36px;
  z-index: 3;
  height: 36px;
  padding: 0;
  min-width: 0;
  @include use-theme(background, $palette-common-white, $dark-background-paper);
  @include shadow3;
  .v-locale--is-rtl & {
    transform: scale(-1.6)
  }
  .v-locale--is-ltr & {
    transform: scale(1.6)
  }
  border: none;
  box-shadow: none;
  &:hover {
    @include palette-background-paper;
  }
  i {
    font-size: 24px;
    @include palette-text-primary;
  }
  @include breakpoints-down(sm) {
    display: none;
  }
}

.prev {
  @include left(0)
}
.next {
  @include right(0)
}
