$imgAPI-architect0: 'https://placehold.co/964x723/1071ef/FFFFFF';
$imgAPI-architect1: 'https://placehold.co/1280x825/99d8ff/FFFFFF';
$imgAPI-architect2: 'https://placehold.co/490x327/ffc999/FFFFFF';
$imgAPI-architect3: 'https://placehold.co/490x327/ffc999/FFFFFF';
$imgAPI-architect4: 'https://placehold.co/490x327/ffc999/FFFFFF';
$imgAPI-architect5: 'https://placehold.co/331x690/fdcc0c/FFFFFF';
$imgAPI-architect6: 'https://placehold.co/521x309/4a0cfd/FFFFFF';
$imgAPI-architect7: 'https://placehold.co/521x309/ffe55b/FFFFFF';
$imgAPI-architect8: 'https://placehold.co/713x309/79c0ff/FFFFFF';
$imgAPI-architect9: 'https://placehold.co/711x693/52596b/FFFFFF';
