$imgAPI-medical0: "https://placehold.co/570x562/1071ef/FFFFFF";
$imgAPI-medical1: "https://placehold.co/1280x825/99d8ff/FFFFFF";
$imgAPI-medical2: "https://placehold.co/490x327/ffc999/FFFFFF";
$imgAPI-medical3: "https://placehold.co/490x327/ffc999/FFFFFF";
$imgAPI-medical4: "https://placehold.co/490x327/ffc999/FFFFFF";
$imgAPI-medical5: "https://placehold.co/490x327/ffc999/FFFFFF";
$imgAPI-medical6: "https://placehold.co/490x327/ffc999/FFFFFF";
$imgAPI-medical7: "/images/avatars/pp_girl4.svg";
$imgAPI-medical8: "/images/avatars/pp_girl5.svg";
$imgAPI-medical9: "/images/avatars/pp_girl.svg";
$imgAPI-medical10: "/images/avatars/pp_boy3.svg";
$imgAPI-medical11: "/images/avatars/pp_boy4.svg";
$imgAPI-medical12: "/images/avatars/pp_boy5.svg";
$imgAPI-medical13: "https://placehold.co/964x723/1071ef/FFFFF";