$building-deco: '/images/hosting/building_deco_light.png';

.link {
  margin: spacing(1, 1.5);
}
.footer {
  padding: $spacing5 0;
  background: $palette-primary-dark;
  .v-container {
    position: relative;
    z-index: 1;
  }
  p {
    color: $palette-common-white;
    @include breakpoints-down(xs) {
      text-align: center
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin-bottom: $spacing1;
      display: inline-block;
      width: 30%;
      @include margin-right(3%);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $palette-common-white;
      @include breakpoints-down(xs) {
        width: 47%
      }
      a {
        text-transform: capitalize;
        text-decoration: none !important;
        font-size: 14px;
        color: $palette-common-white;
        &:hover {
          color: $palette-primary-light
        }
      }
    }
  }
  p {
    color: $palette-common-white;
    @include breakpoints-down(sm) {
      padding: spacing(0, 3)
    }
  }
  &-desc{
    display: block;
    font-size: 14px;
    margin-bottom: $spacing2
  }
  &:after {
    background: url($building-deco) repeat-x bottom center;
    content: "";
    position: absolute;
    left: 0;
    opacity: 0.1;
    bottom: 0;
    width: 100%;
    height: 150px
  }
}

.footer-counter {
  position: relative;
  background: $palette-primary-dark;
  &:before {
    content: "";
    background: $palette-primary-dark;
    position: absolute;
    left: -10%;
    border-radius: 50%;
    top: -80px;
    width: 120%;
    height: 350px;
    @include breakpoints-down(xs) {
      height: 120px;
    }
  }
}

.quickLinks {
  margin-top: $spacing5
}

.blog-item {
  display: block;
  align-items: center;
  margin: spacing(2, 0);
  padding: 0 !important;
  height: auto !important;
  white-space: normal;
  @include text-align(left);
  justify-content: flex-start;
  .category {
    margin-bottom: $spacing1;
    margin-top: $spacing1;
    display: block;
    font-weight: $font-bold;
    text-transform: uppercase;
    color: $palette-primary-light
  }
  .list-text {
    flex: 1;
    display: block;
    color: $palette-primary-light
  }
  .figure {
    border-radius: 4px;
    overflow: hidden;
    margin-top: $spacing1;
    @include margin-right($spacing2);
    width: 80px;
    height: 56px;
    img {
      display: block;
      min-height: 100%;
      width: 100%;
    }
  }
  .content {
    font-size: 13px;
    text-transform: none;
    margin-bottom: 0;
    font-weight: $font-regular;
    @include text-align(left);
    color: $palette-common-white
  }
}

.title-nav {
  color: $palette-primary-light;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: $spacing1;
  font-weight: $font-bold
}
.logo {
  display: flex;
  align-items: flex-end;
  margin-bottom: $spacing3;
  @include breakpoints-down(xs) {
    justify-content: center;
    & + p {
      text-align: center;
    }
  }
  img {
    width: 64px;
    @include margin-right($spacing1)
  }
  h6 {
    color: $palette-common-white;
    font-weight: $font-medium;
    font-size: 28px;
    text-transform: lowercase
  }
}
.socmed {
  display: flex;
  justify-content: space-around;
  margin-bottom: $spacing4;
  button {
    border-radius: 50%;
    margin: $spacing1;
    color: $palette-primary-dark;
    background: $palette-primary-main;
    .icon {
      color: $palette-common-white;
      margin-left: -2px
    }
  }
  .icon {
    font-size: 24px
  }
}

.icon {
  & + div {
    background: none !important;
    padding: spacing(1.5, 1.5, 1.5, 4);
    width: calc(100% - 32px)
  }
}

.select-lang {
  margin: 0 auto;
  margin: $spacing2 0;
  color: $palette-common-white;
  box-shadow: 0 1.5px 12px 2px rgba(0, 0, 0, 0.06);
  border-color: var(--v-primarylight-darken3) !important;
  :deep(.v-field__input) {
    padding: $spacing1;
    height: auto;
    min-height: 0;
  }
  :deep(.v-field__append-inner){
    padding-top: $spacing1
  }
  :deep(.v-field__prepend-inner) {
    padding-top: $spacing1
  }
}

.site-map-item {
  @include breakpoints-down('md') {
    padding-bottom: 0 !important;
    padding-top: 0 !important
  }
}
.accordion-root {
  background: none;
  box-shadow: none;
  max-width: 480px
}
#main-wrap .accordion-content.v-expansion-panel {
  background-color: transparent;
  &:before, &:after {
    display: none
  }
}
.accordion-icon {
  padding: 0
}
