.root {
  position: relative;
  @include breakpoints-up(md) {
    height: 700px;
  }
  @include breakpoints-down(sm) {
    padding-bottom: $spacing5
  }
}

.canvas-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include use-theme(background, linear-gradient(-45deg, $palette-secondary-main 30%, $palette-primary-main 80%), linear-gradient(-45deg, $palette-secondary-dark 30%, $palette-primary-dark 80%));
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2)
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  .v-theme--dark & {
    @include bg-color-fade($palette-primary-dark, 0.7)
  }
  .v-theme--light & {
    @include bg-color-fade($palette-primary-main, 0.7)
  }
}

.particle-background {
  position: absolute;
  width: 100%;
  height: 600px;
  :deep(canvas) {
    @include breakpoints-down(md) {
      display: none
    }
  }
}

.banner-wrap {
  position: relative;
  z-index: 1
}

.object-art {
  img {
    position: relative;
    z-index: 1;
    @include left(-90px);
    top: 270px;
    max-width: 560px;
    @include breakpoints-down(md) {
      top: 120px;
    }
  }
  @include breakpoints-down(sm) {
    display: none
  }
}

.text {
  color: $palette-common-white;
  @include breakpoints-up(lg) {
    margin-top: 212px;
  }
  @include breakpoints-down(md) {
    margin-top: $spacing12;
  }
  @include breakpoints-down(sm) {
    text-align: center;
    margin-top: $spacing20
  }
  h4 {
    margin-bottom: $spacing2
  }
}

.btn-area {
  margin-top: $spacing5;
  position: relative;
  z-index: 2;
  @include breakpoints-down(sm) {
    text-align: center
  }
  :deep(.v-btn) {
    @include margin-right($spacing3);
    @include breakpoints-down(sm) {
      margin-bottom: $spacing3;
      height: 50px;
      width: 100%
    }
  }
}

.invert {
  border-color: $palette-common-white;
  color: $palette-common-white;
}

.deco-bottom {
  position: absolute;
  bottom: -55px;
  width: 100%;
 .v-locale--is-rtl & {
   right: 40px;
   transform: scaleX(-1)
  }
  .v-locale--is-ltr & {
    left: 0
  }
  @include breakpoints-down(sm) {
    display: none
  }
  svg {
    width: 1400px;
    height: 380px;
    @media only screen and (min-width: 1400px) {
      transform: scale(2, 1);
    }
    @include breakpoints-up(xl) {
      display: none
    }
  }
  &.back {
    svg {
      @include use-theme(fill, $palette-primary-main, $palette-primary-dark);
    }
  }
  &.cover {
    svg {
      @include use-theme(fill, #FFF, #303030);
      @include use-theme(opacity, 0.84, 0.6);
    }
  }
}

.deco-inner {
  position: absolute;
  top: 0;
  @include left(0);
  width: 100%;
  height: 100%
}
