$flag: '/images/flag-logo.png';

@mixin flag-icon{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  @include margin-right(5px);
  top: 1px;
  background: url($flag) no-repeat transparent;
  background-size: 16px auto;
  &.ar {
    background-position: 0 3px;
  }
  &.zh {
    background-position: 0 -12px
  }
  &.en {
    background-position: 0 -28px
  }
  &.de {
    background-position: 0 -44px
  }
  &.id {
    background-position: 0 -62px
  }
  &.pt {
    background-position: 0 -79px
  }
}

.popover {
  @include palette-background-paper;
  width: 200px;
  .v-list {
    border-radius: 0
  }
}

.switch-toggle {
  margin: spacing(-2, 2, 0);
  height: 24px;
  :deep(.v-switch__thumb) {
    color: $palette-secondary-main
  }
  :deep(.v-switch__track) {
    background-color: $palette-secondary-light
  }
  :deep(.v-selection-control) {
    justify-content: center;
  }
}

.flex-menu {
  display: flex;
  padding: spacing(1, 0);
  label {
    padding-top: 8px
  }
  :deep(.v-messages) {
    display: none
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-100px)
  }
  to {
    opacity: 1;
    transform: none
  }
}

.header {
  :deep(.v-toolbar__content) {
    height: auto !important;
  }
  &.v-app-bar.v-toolbar {
    background-color: transparent;
    box-shadow: none;
  }
  @include palette-text-primary;
  z-index: 91;
  box-shadow: none;
  transition: background 0.3s ease;
  position: fixed !important;
  height: auto !important;
  .v-container {
    #main-wrap & {
      @include breakpoints-down(sm) {
        padding: 0
      }
    }
  }
  &.invert:not(.fixed) {
    .divider {
      @include palette-divider
    }
    .setting {
      :deep(.v-icon) {
        @include palette-text-secondary
      }
    }
  }
  nav {
    transition: background 0.5s ease-out;
    ul {
      padding: 0;
      padding-right: $spacing1
    }
  }
  &.fixed.v-app-bar.v-toolbar  {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: saturate(180%) blur(20px);
    .text-btn {
      color: $palette-common-white
    }
    ul li a,
    .setting .icon{
      color: $palette-common-white
    }
    .mobile-menu .bar {
      background-color: $palette-common-white;
      &:after, &:before {
        background-color: $palette-common-white;
      }
    }
    .divider {
      border-left-color: rgba(255, 255, 255, 0.5)
    }
  }
  &.open-drawer {
    box-shadow: none !important;
    z-index: 1100 !important;
    background: none !important;
    .logo {
      a {
        @include palette-text-primary
      }
    }
  }
}

.v-toolbar__content, .v-toolbar__extension {
  padding: 0
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & nav {
    align-items: center;
    display: flex;
  }
}

.v-application .v-application--wrap .logo {
  a {
    @include breakpoints-down('sm') {
      color: $palette-common-white
    }
  }
}

.logo {
  margin-right: $spacing1;
  a {
    margin-top: 4px;
    font-size: 16px;
    font-weight: $font-medium;
    position: relative;
    margin: spacing(0, 1);
    text-decoration: none
  }
  img {
    max-width: 64px;
    height: 64px;
    width: 64px;
    margin: 0 auto;
    display: block;
    @include breakpoints-down(xs) {
      height: 48px;
      width: 48px;
    }
  }
}

.nav-logo {
  flex: 1;
  .logo {
    a {
      display: block;
      color: $palette-common-white;
    }
  }
  &.invert .logo a{
    @include palette-text-primary
  }
}

.button.v-btn {
  background-color: $palette-secondary-light !important;
  color: $palette-secondary-main;
  font-weight: $font-bold
}

.text-btn {
  padding-left: $spacing1;
  padding-right: $spacing1;
}

nav.nav-menu {
  a {
    color: $palette-common-white;
    margin: spacing(0, 1);
    position: relative;
    font-size: 16px;
    box-shadow: none;
  }
  &.invert {
    ul li a {
      transition: all 0.3s ease-out;
      @include palette-text-primary;
    }
    .icon.v-icon {
      @include palette-text-primary;
    }
    .text-btn {
      @include palette-text-primary
    }
    .mobile-menu .bar {
      @include palette-background-text-primary;
      &:after, &:before {
        @include palette-background-text-primary;
      }
    }
  }
  .scrollactive-nav {
    list-style: none;
    display: block;
    li {
      list-style: none;
      position: relative;
      display: inline-block;
      .v-btn {
        color: $palette-common-white;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: $font-medium;
        box-shadow: none;
        position: relative;
        padding: 6px 12px;
        min-width: 0;
        transition: all 0.2s cubic-bezier(0.42, 0.16, 0.21, 0.93);
        &:hover {
          background: rgba(255, 255, 255, 0.2)
        }
        &.active {
          color: $palette-common-white;
          background: $palette-primary-main
        }
      }
    }
  }
}


.lang-menu {
  text-transform: capitalize;
  .flag {
    margin: 0;
    & i {
      @include flag-icon;
    }
  }
  .lang-list {
    padding: 0;
    .lang-opt{
      font-size: 0.875rem;
      @include margin-left($spacing2)
    }
  }
}

.mode-menu {
  text-transform: capitalize
}

.user-menu {
  & > button {
    margin: 0 $spacing1;
  }
}

.setting {
  :deep(.v-icon) {
    font-size: 32px;
    transition: all 0.3s ease;
    color: $palette-common-white;
  }
  .active {
    transform: rotate(30deg)
  }
  @include breakpoints-down(sm) {
    margin: $spacing1
  }
}

.title-menu {
  text-transform: capitalize
}

.v-list-item__content {
  padding: 0
}

.mobile-menu {
  .bar {
    background-color: $palette-common-white;
    &:after, &:before {
      background-color: $palette-common-white;
    }
  }
  &.is-active {
    .bar {
      background-color: $palette-common-white !important;
      &:after, &:before {
        background-color: $palette-common-white !important;
      }
    }
  }
}

.mobile-nav {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: saturate(180%) blur(20px);
  height: 100%;
  @include breakpoints-down(xs) {
    width: 100% !important
  }
  .menu {
    padding: spacing(2, 3);
    overflow: auto;
    top: spacing(10);
    width: 100%;
    position: absolute;
    height: calc(100% - 80px);
    .menu-list {
      text-transform: capitalize;
      font-size: 24px;
      color: $palette-common-white;
      margin-top: 4px;
      margin-bottom: 4px;
      font-weight: $font-regular;
      padding: spacing(1, 0);
    }
    &.menu-open {
      a {
        animation-name: slideRight;
        animation-timing-function: ease;
      }
    }
  }
  .divider-sidebar {
    background: rgba(255, 255, 255, 0.2);
    margin: spacing(3, 0)
  }
}

.nav-auth {
  justify-content: space-around;
  .button.v-btn {
    padding: spacing(0.5, 4) !important
  }
}

.divider {
  background: none;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  height: 20px;
  display: block;
}
