.counter-wrap {
  position: relative;
  text-align: center;
  margin: spacing(10, 0);
  h3 {
    color: $palette-primary-light;
    font-weight: $font-bold;
    margin-bottom: $spacing2;
    display: flex;
    justify-content: center;
    span {
      display: inline-block;
      padding: spacing(0, 1)
    }
  }
  p {
    color: $palette-common-white
  }
}