$imgAPI-mobile0: 'https://placehold.co/1000x625/f2c9ff/757575';
$imgAPI-mobile1: 'https://placehold.co/1472x637/5abce4/FFFFFF';
$imgAPI-mobile2: 'https://placehold.co/1000x625/e6f8ff/757575';
$imgAPI-mobile3: '/images/mobile/app-counter.png';
$imgAPI-mobile4: 'https://placehold.co/1000x680/b44fd4/FFFFFF';
$imgAPI-mobile5: 'https://placehold.co/1000x680/00a7e8/FFFFFF';
$imgAPI-mobile6: 'https://placehold.co/1000x680/e91e63/FFFFFF';
$imgAPI-mobile7: '/images/mobile/desktop_illustration.png';