$imgAPI-profile0: 'https://placehold.co/1080x497/ffb2ad/757575';
$imgAPI-profile1: 'https://placehold.co/270x345/dedede/757575';
$imgAPI-profile2: '/images/profile/pc.jpg';
$imgAPI-profile3: 'https://placehold.co/400x400/4e5467/FFFFFF';
$imgAPI-profile4: 'https://placehold.co/400x266/2f5ef3/FFFFFF';
$imgAPI-profile5: 'https://placehold.co/400x266/dedafd/757575';
$imgAPI-profile6: 'https://placehold.co/400x400/ea6f23/FFFFFF';
$imgAPI-profile7: 'https://placehold.co/400x400/b79136/FFFFFF';
$imgAPI-profile8: 'https://placehold.co/400x266/94fbf7/757575';
$imgAPI-profile9: '/images/profile/pc-dark.jpg';
