.root {
  position: relative;
  text-align: center;
  p {
    color: $palette-common-white
  }
}

.form {
  position: relative;
  margin-top: $spacing2
}

.field {
  :deep(.v-field--variant-solo) {
    color: #fff;
    width: 100%;
    @include padding-right(120px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 15px -5px rgba(62, 57, 107, .07);
    border-radius: 10px;
    .v-field__field {
      input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(255,255,255,1);
        opacity: 0.5;
      }
      input::-moz-placeholder { /* Firefox 19+ */
        color: rgba(255,255,255,1);
        opacity: 0.5;
      }
      input:-ms-input-placeholder { /* IE 10+ */
        color: rgba(255,255,255,1);
        opacity: 0.5;
      }
      input:-moz-placeholder { /* Firefox 18- */
        color: rgba(255,255,255,1);
        opacity: 0.5;
      }
    }
  }
}

.button {
  position: absolute;
  @include right($spacing1);
  top: $spacing1;
  @include breakpoints-down(sm) {
    padding: spacing(0.5, 3);
    min-width: 0;
    width:auto;
  }
  @include breakpoints-down(xs) {
    padding: spacing(0.5, 1)
  }
  svg {
    fill: $palette-common-white
  }
}
